* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
button {
  cursor: pointer;
}
/* colors */
:root {
  --primary-orange: orangered;
  --gray-para: gray;
}

/* flex box */
.flex {
  display: flex;
  align-items: center;
}
.flex2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex4 {
  display: flex;
  justify-content: space-around;
}

/* section main heading(common) */
.main-title {
  font-size: 30px;
  font-weight: 800;
  padding: 10px 0;
  text-align: center;
}
.title-info2 {
  width: 500px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--gray-para);
  margin-bottom: 20px;
}

/* common btn css */
.main-btn {
  padding: 10px 20px;
  background-color: var(--primary-orange);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid var(--primary-orange);
  border-radius: 10px;
  transition: all 0.8s ease-in;
}
.main-btn:hover {
  background-color: #fff;
  color: #000;
}
.cart-btn {
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 8px;
}

/* margins */
.mb-1 {
  margin-bottom: 10px;
}

/* paddings */

/* section space */
section {
  scroll-margin-top: 100px;
  margin-bottom: 80px;
}

/* container */
.container {
  width: 1300px;
  margin: 0 auto;
}

/* header */
header {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px;
  z-index: 999;
  display: flex;
  align-items: center;
  background-color: #fff;
  transition: border-bottom 0.3s;
}
header.scrolled {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}
.header-left {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
header .logo {
  width: 150px;
  height: auto;
  display: block;
  margin-left: 30px;
}
.logo-img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
nav ul li {
  margin-right: 30px;
}
nav ul li a {
  position: relative;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
}
nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: var(--primary-orange);
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
nav ul li a:hover {
  color: var(--primary-orange);
}
nav ul li a:hover::before {
  width: 100%;
  transform: translateX(-50%) scaleX(1);
}
.header-right {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-right form {
  position: relative;
  transition: all 2s;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 25px;
  border: 4px solid #fff;
  padding: 5px;
}
input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 2px solid var(--primary-orange);
  display: none;
  font-size: 16px;
  border-radius: 25px;
  padding: 10px 20px;
}
form .fa {
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: var(--primary-orange);
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
  border: 2px solid var(--primary-orange);
}
form:hover {
  width: 300px;
  cursor: pointer;
}
form:hover input {
  display: block;
}
form:hover .fa {
  background-color: var(--primary-orange);
  color: #fff;
  border: none;
}

/* hero page */
.spacer {
  height: 120px; /* equals header height */
}
.hero-content-left {
  width: 35%;
  padding-left: 20px;
}
.hero-title1 {
  font-size: 55px;
  font-weight: 800;
  opacity: 0;
}
.hero-title2 {
  color: var(--primary-orange);
}
.title-info {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: var(--gray-para);
  margin-bottom: 20px;
}
.anim1 {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.hero-content-right {
  width: 65%;
  display: block;
  text-align: right;
  padding-right: 20px;
}
.hero-img {
  width: 580px;
  height: 580px;
  opacity: 0;
  cursor: pointer;
  filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.3));
  transform: translateX(100px);
  animation: slideInRight 1s linear 0s forwards;
}
@keyframes slideInRight {
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes rotate360 {
  0% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(360deg);
  }
}

/* dishes page */
.special-dish {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}
.dish-card {
  width: 300px;
  padding: 12px 18px;
  margin: 20px 0;
  text-align: center;
  border-radius: 30px;
  transition: all 0.3s linear;
}
.dish-card.active {
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1), -2px -4px 6px rgba(0, 0, 0, 0.1);
}
.dish-card:hover {
  transform: scale(1.05);
}
.dish-card img {
  width: 180px;
  height: 180px;
  height: auto;
}
.dish-card:hover img {
  animation: rotatePlate 30s linear infinite;
}
@keyframes rotatePlate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dish-card h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}
.dish-card p {
  font-size: 14px;
  color: var(--gray-para);
  line-height: 18px;
  margin-bottom: 20px;
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.price span {
  font-size: 20px;
  margin-right: 10px;
}
/* animation */
.fade-right,
.fade-left {
  opacity: 0;
  transform: translateX(100px);
  transition: transform 1s linear, opacity 1s linear;
}
.fade-left {
  transform: translateX(-100px);
}
.fade-in {
  opacity: 1;
  transform: translateX(0);
}
.dish-card.fade-in:nth-child(1) {
  transition-delay: 0.2s;
}
.dish-card.fade-in:nth-child(2) {
  transition-delay: 0.4s;
}
.dish-card.fade-in:nth-child(3) {
  transition-delay: 0.6s;
}

/* variety page */
.variety-content-left {
  width: 50%;
  padding: 0 10px;
  display: block;
  text-align: center;
}
.variety-content-left img {
  width: 400px;
  height: 400px;
  cursor: pointer;
  opacity: 0;
  transform: translateX(-100px);
  transition: 1.2s linear, opacity 1.2s linear;
}
.variety-content-left img.active {
  opacity: 1;
  transform: translateX(0);
}
.variety-content-right {
  width: 50%;
}
.variety-content-right .main-title {
  width: 500px;
  font-size: 40px;
  text-align: left;
}
.variety-content-right .title-info2 {
  text-align: left;
  margin: 0 0 20px 0;
}
.anim2 {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 1s linear, opacity 1s linear;
}
.anim2.active {
  opacity: 1;
  transform: translateY(0);
}

/* food process page */
.process-box {
  width: 270px;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1), -2px -4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(100px) scale(1); /* Default initial position */
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.process-box h5 {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
  text-transform: capitalize;
}
.process-box p {
  color: var(--gray-para);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}
.process-box i {
  padding: 8px 10px;
  color: #fff;
  font-size: 25px;
  border-radius: 8px;
  cursor: pointer;
}
.box1 i {
  background-color: green;
}
.box2 i {
  padding: 8px;
  font-size: 20px;
  background-color: red;
}
.box3 i {
  padding: 8px;
  font-size: 20px;
  background-color: blue;
}
.process-box a {
  color: var(--primary-orange);
  font-size: 16px;
  font-weight: 500;
}
/* hover effect */
.process-box:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.process-box:hover h5,
.process-box:hover p,
.process-box:hover a,
.process-box:hover i {
  color: #fff;
}
.process-box h5,
.process-box p,
.process-box a,
.process-box i {
  transition: color 0.3s linear, background-color 0.3s linear;
}
.process-box {
  transition: opacity 0.8s ease, transform 0.8s ease,
    background-color 0.3s linear, border-radius 0.3s linear;
}
.box1:hover {
  background-color: #28a745;
}
.box2:hover {
  background-color: rgb(210, 71, 71);
}
.box3:hover {
  background-color: #007bff;
}
/* animation */
.box1.box-anima {
  opacity: 1;
  transform: translateX(-20px) scale(1); /* keep scale(1) base */
}
.box2.box-anima {
  opacity: 1;
  transform: translateY(0px) scale(1);
}
.box3.box-anima {
  opacity: 1;
  transform: translateX(20px) scale(1);
}

/* chef page */
.chef-content {
  width: 50%;
  text-align: left;
  margin-left: 20px;
}
.chef-content .main-title {
  width: 600px;
  text-align: left;
  font-size: 45px;
}
.chef-content .title-info2 {
  width: 550px;
  text-align: left;
  margin: 0 0 20px 0;
}
.chef-content h6 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  padding-left: 15px;
}
.chef-content h6::before {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 0%;
  background-color: #000;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.chef-img {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chef-bg-circle {
  width: 550px;
  height: 550px;
  background-color: var(--primary-orange);
  border-radius: 50%;
  /* overflow: hidden hides the content present outside it. */
  overflow: hidden;
}
.chef-img img {
  width: 430px;
  height: auto;
  position: relative;
  z-index: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
}
/* transition */
.chef-trans {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1.5s ease;
}
.chef-trans.active {
  opacity: 1;
  transform: translateY(0);
}
.chef-img-trans {
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s ease;
}
.chef-img-trans.active {
  opacity: 1;
  transform: translateX(0);
}

/* customer page */
.testimonials .main-title {
  font-size: 40px;
  width: 500px;
  margin: 0 auto;
}
.testimonials .title-info2 {
  width: 550px;
}
.client-1 {
  width: 750px;
  padding: 20px;
  border-radius: 30px;
  margin: 20px 0;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.1), -2px -3px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.client-1:hover {
  box-shadow: 2px 3px 4px rgba(232, 166, 12, 1),
    -2px -3px 4px rgba(232, 143, 18, 1);
  transform: scale(1.05);
}
.client-says {
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  margin-bottom: 10px;
  padding: 10px 0;
  font-weight: 500;
}
.client-img {
  width: 100px;
  height: 100px;
}
.client-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.client-name {
  font-size: 18px;
  font-weight: 600;
  padding: 3px 0;
}
.client-type {
  font-size: 16px;
  color: var(--gray-para);
  margin-bottom: 10px;
}
/* footer */
.footer-main {
  width: 400px;
}
.footer-main p {
  font-size: 16px;
  color: var(--gray-para);
  padding-left: 15px;
}
.footer-logo-img {
  width: 150px;
  height: auto;
  display: block;
}
.footer-logo-img img {
  width: 100%;
  height: auto;
}
.footer-title {
  font-size: 18px;
  font-weight: 700;
  margin: 15px 0;
}
.footer-list ul li {
  padding: 5px;
  color: var(--gray-para);
}
.footer-right {
  font-size: 14px;
  padding: 10px 0;
  margin-top: 80px;
  color: var(--gray-para);
  text-align: center;
}
